:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

input::placeholder {
	color: var(--grey);
} 

input[type="text"], input[type="date"], input[type="time"], select, textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--darker);
  color: var(--light);
  font-size: 1.25rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande","Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  font-family: "Candal", sans-serif;
  color: #FFF;
}

#new-task-submit {
	color: var(--pink);
	font-size: 1.25rem;
  /* font-size: 25px; */
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

.todo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -50%);
  align-items: center;
}
